body {
    background-color: #eaeaea;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attempts-tag {
    margin: 1rem;
    font-family: 'dancing script', cursive;
    font-size: 2rem;
    color: #bbbbbb;   
    user-select: none;
}


/* The cards  */
#card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}

/* .flip-container:hover .flipper {
    transform: rotateY(180deg);
}  */

.flipped {
    transform: rotateY(180deg);
    transition: .6s;
    transform-style: preserve-3d;
}

.flipper {
    transition: .6s;
    transform-style: preserve-3d;
}

.front, .back {
    top: 0;
	left: 0; 
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    height: 8rem;
    width: 8rem;
    background-color: antiquewhite;
    border: 3px solid gray;
    border-radius: 5px;
}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    position: absolute;
    transform: rotateY(180deg);
    margin-top: 0;
    font-size: 5rem;
    color: rgb(88, 88, 88);
    text-shadow: 2px 2px burlywood;
    user-select: none;
}

.front p {
    font-size: 5rem;
    transform: rotate(23deg);
    color: burlywood;
    text-shadow: 2px 2px rgb(88, 88, 88);
    user-select: none;
}

#pop-up-restart {
    position: absolute;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, .8);
    border-radius: 10px;
    font-size: 1.6rem;
    color: burlywood;
}

#pop-up-restart p {
    margin: 1rem;
}

#restart-button {
    margin: 1rem;
    height: 1.5rem;
    width: 6rem;
    border-radius: 100px;
}


.hidden {
    display: none;
}

/* Shaking cards on failed matches and forbidden actions */
.shake-effect {
    animation-name: shake;
    animation-duration: .5s;
    animation-delay: .7s;
    transform: translateX(0);
}

@keyframes shake {
    10%, 90% {
        transform: translateX(4px);
    }
    20%, 80% {
        transform: translateX(-4px);
    }
    30%, 70% {
        transform: translateX(4px);
    }
    40%, 60% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(0px);
    }

    

}


